<!doctype html>
<html lang="{{ service('language').getLocale()|raw }}" data-theme="cupcake" class="scroll-smooth light no-touch">

	<head>
		{{ viewMeta.render('title')|raw }}
		<link rel="canonical" href="{{ current_url()}}"/>
		{{ csrf_meta()|raw }}
		{{ viewMeta.render('meta')|raw }}
		{# {{ asset_link('app/css/app.css', 'css')|raw }} #}
		{% block styles %}{% endblock %}
		{{  vite_tags(['themes/app/css/app.css', 'themes/app/js/app.js'], 'front')|raw  }}
		{% include '_partials/schema.twig' ignore missing %}
	</head>
	
	<body class="font-nunito text-base text-black dark:text-white dark:bg-slate-900 {{ class }}">

		{% include '_partials/header/header-2.twig' ignore missing %}
		<main class="relative"> {% block content %}{% endblock %}

			</main>
			{% include '_partials/footer.twig' ignore missing %}

			<script src="//unpkg.com/alpinejs" defer></script>


			{# {{ asset_link('app/js/feather.js', 'js')|raw }}
																																																										{{ asset_link('app/js/app.js', 'js')|raw }} #}
			{% block script %}{% endblock %}     
		</body>
	</html>
