<!doctype html>
<html lang="en" data-theme="cupcake" class="scroll-smooth light no-touch">

	<head>
		{{ viewMeta.render('title')|raw }}
		<link rel="canonical" href="{{ current_url()}}"/>
		{{ viewMeta.render('meta')|raw }}
		{{ csrf_meta()|raw }}
		{# {{ asset_link('app/css/app.css', 'css')|raw }} #}
		{% block styles %}{% endblock %}
		{{  vite_url('front')|raw  }}
	</head>

	<body class="font-nunito text-base text-black dark:text-white dark:bg-slate-900 {{ class }}">

		{% include '_partials/header/header-2.twig' ignore missing %}
		<main class="relative"> {% block content %}{% endblock %}

			</main>
			{% include '_partials/footer.twig' ignore missing %}

			<script src="//unpkg.com/alpinejs" defer></script>


			{# {{ asset_link('app/js/feather.js', 'js')|raw }}
																																								{{ asset_link('app/js/app.js', 'js')|raw }} #}
			{% block script %}{% endblock %}
			{{ theme_link('app/vendor/tarteaucitron/tarteaucitron.js', 'js')|raw }}
			<script type="text/javascript">
				var tarteaucitronForceLanguage = "fr";
tarteaucitron.init({
"privacyUrl": "", /* Privacy policy url */
"bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
"cookieName": "tarteaucitron", /* Cookie name */

"orientation": "middle", /* Banner position (top - bottom) */

"groupServices": false, /* Group services by category */
"showDetailsOnClick": true, /* Click to expand the description */
"serviceDefaultState": "wait", /* Default state (true - wait - false) */

"showAlertSmall": false, /* Show the small banner on bottom right */
"cookieslist": false, /* Show the cookie list */

"closePopup": false, /* Show a close X on the banner */

"showIcon": true,
/* Show cookie icon to manage cookies */
// "iconSrc": "", /* Optionnal: URL or base64 encoded image */
"iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

"adblocker": false, /* Show a Warning if an adblocker is detected */

"DenyAllCta": true, /* Show the deny all button */
"AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

"removeCredit": false, /* Remove credit link */
"moreInfoLink": true, /* Show more info link */

"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
"useExternalJs": false,
/* If false, the tarteaucitron.js file will be loaded */

// "cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

"readmoreLink": "", /* Change the default readmore link */

"mandatory": true, /* Show a message about mandatory cookies */
"mandatoryCta": true /* Show the disabled accept button when mandatory on */
});
			</script>
		</body>
	</html>
