<!doctype html>
<html lang="en">

	<head>
		{{ viewMeta.render('title')|raw }}
		{{ viewMeta.render('meta')|raw }}
		{{ asset_link('app/css/app.css', 'css')|raw }}
		{% block styles %}{% endblock %}
		{{  vite_front(['themes/App/css/app.css', 'themes/App/js/app.js'])|raw  }}
	</head>

	<body class="font-nunito text-base text-black dark:text-white dark:bg-slate-900">

		<h1 class="text-4xl ml-[5rem] font-bold underline">
			Hello world!
		</h1>

		<div class="container">
			<main class="ms-sm-auto px-md-4 py-5"> {% block content %}{% endblock %}
				</main>
			</div>

			{% include '_partials/footer.tpl' ignore missing %}

			<script src="//unpkg.com/alpinejs" defer></script>
		</body>
	</html>
</script>

{{ asset_link('app/js/feather.js', 'js')|raw }}
{{ asset_link('app/js/app.js', 'js')|raw }}
{% block script %}{% endblock %}</body></html>
